
Data-raw/ChileCoast-SST-6H.nc
Data-raw/ChileCoast_SST_6H.mat
Data-raw/ChileCoast-U10-6H.nc
Data-raw/ChileCoast-V10-6H.nc
SST_analysis.asv
SST_anomaly_maps.asv
sstSwA.mat
SST'-dSST'-box-avg-simple-v5.png
SST'-dSST'-box-avg-simple-v5.pdf
SST'-dSST'-box-avg-simple-v3.pdf
heat_budget_eq_v5.png
djfeventdiff_mean_wEk_v4.png
